<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <description>Filtra as todas as requisições e respostas.</description>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>controle.CharsetFilter</filter-class>
        <init-param>
            <description>Seleciona o tipo de codificação</description>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>InverterMatriz</servlet-name>
        <servlet-class>controle.InvertMatrix</servlet-class>
    </servlet>
    <servlet>
        <description>transpose_matrix</description>
        <servlet-name>TransporMatriz</servlet-name>
        <servlet-class>controle.TransposeMatrix</servlet-class>
    </servlet>
    <servlet>
        <description>EfetuaLogin</description>
        <servlet-name>EfetuarLogin</servlet-name>
        <servlet-class>controle.DoLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalcularDeterminante</servlet-name>
        <servlet-class>controle.ComputeDeterminat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SomarMatrizes</servlet-name>
        <servlet-class>controle.SumMatrices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubtrairMatrizes</servlet-name>
        <servlet-class>controle.SubtractMatrices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiplicarMatrizes</servlet-name>
        <servlet-class>controle.MultiplyMatrices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalcularMinimos</servlet-name>
        <servlet-class>controle.ComputeLeastSquares</servlet-class>
    </servlet>
    <servlet>
        <description>Deleta o Profile</description>
        <servlet-name>ExcluirPerfil</servlet-name>
        <servlet-class>controle.DeleteProfile</servlet-class>
    </servlet>
    <servlet>
        <description>Altera o Profile</description>
        <servlet-name>AlterarPerfil</servlet-name>
        <servlet-class>controle.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <description>Gerencia Menu e Profile</description>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <servlet-class>controle.ManageProfileMenu</servlet-class>
    </servlet>
    <servlet>
        <description>Adicionar um Profile</description>
        <servlet-name>InserirPerfil</servlet-name>
        <servlet-class>controle.InsertProfile</servlet-class>
    </servlet>
    <servlet>
        <description>Adiciona um Menu</description>
        <servlet-name>InserirMenu</servlet-name>
        <servlet-class>controle.InsertMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirMenu</servlet-name>
        <servlet-class>controle.DeleteMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarMenu</servlet-name>
        <servlet-class>controle.UpdateMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirUsuario</servlet-name>
        <servlet-class>controle.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirUsuario</servlet-name>
        <servlet-class>controle.InsertUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarUsuario</servlet-name>
        <servlet-class>controle.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarCalculo</servlet-name>
        <servlet-class>controle.LoadCalculus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCalculo</servlet-name>
        <servlet-class>controle.DeleteCalculus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EscalarMatriz</servlet-name>
        <servlet-class>controle.ScaleMatrix</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EfetuarLoginConvidado</servlet-name>
        <servlet-class>controle.DoGuestLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>controle.RegisterUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EfetuarLogin</servlet-name>
        <url-pattern>/do_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalcularDeterminante</servlet-name>
        <url-pattern>/compute_determinant.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransporMatriz</servlet-name>
        <url-pattern>/transpose_matrix.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InverterMatriz</servlet-name>
        <url-pattern>/invert_matrix.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SomarMatrizes</servlet-name>
        <url-pattern>/sum_matrices.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubtrairMatrizes</servlet-name>
        <url-pattern>/subtract_matrices.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiplicarMatrizes</servlet-name>
        <url-pattern>/multiply_matrices.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalcularMinimos</servlet-name>
        <url-pattern>/compute_least_squares.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfil</servlet-name>
        <url-pattern>/update_profile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirPerfil</servlet-name>
        <url-pattern>/insert_profile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirMenu</servlet-name>
        <url-pattern>/insert_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <url-pattern>/manage_profile_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarMenu</servlet-name>
        <url-pattern>/update_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirUsuario</servlet-name>
        <url-pattern>/insert_user.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarUsuario</servlet-name>
        <url-pattern>/update_user.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirMenu</servlet-name>
        <url-pattern>/delete_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPerfil</servlet-name>
        <url-pattern>/delete_profile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirUsuario</servlet-name>
        <url-pattern>/delete_user.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarCalculo</servlet-name>
        <url-pattern>/load_calculus.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCalculo</servlet-name>
        <url-pattern>/delete_calculus.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EscalarMatriz</servlet-name>
        <url-pattern>/scale_matrix.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EfetuarLoginConvidado</servlet-name>
        <url-pattern>/do_guest_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/register_user.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
