<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <description>Filtra as todas as requisições e respostas.</description>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>controle.CharsetFilter</filter-class>
        <init-param>
            <description>Seleciona o tipo de codificação</description>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>InverterMatriz</servlet-name>
        <servlet-class>controle.InvertMatrix</servlet-class>
    </servlet>
    <servlet>
        <description>transpor_matriz</description>
        <servlet-name>TransporMatriz</servlet-name>
        <servlet-class>controle.TransposeMatrix</servlet-class>
    </servlet>
    <servlet>
        <description>EfetuaLogin</description>
        <servlet-name>EfetuarLogin</servlet-name>
        <servlet-class>controle.DoLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalcularDeterminante</servlet-name>
        <servlet-class>controle.ComputeDeterminat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SomarMatrizes</servlet-name>
        <servlet-class>controle.SumMatrix</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubtrairMatrizes</servlet-name>
        <servlet-class>controle.SubtractMatrix</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiplicarMatrizes</servlet-name>
        <servlet-class>controle.MultiplyMatrices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalcularMinimos</servlet-name>
        <servlet-class>controle.ComputeLeastSquare</servlet-class>
    </servlet>
    <servlet>
        <description>Deleta o Perfil</description>
        <servlet-name>ExcluirPerfil</servlet-name>
        <servlet-class>controle.RemoveProfile</servlet-class>
    </servlet>
    <servlet>
        <description>Altera o Perfil</description>
        <servlet-name>AlterarPerfil</servlet-name>
        <servlet-class>controle.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <description>Gerencia Menu e Perfil</description>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <servlet-class>controle.ManageProfileMenu</servlet-class>
    </servlet>
    <servlet>
        <description>Adicionar um Perfil</description>
        <servlet-name>InserirPerfil</servlet-name>
        <servlet-class>controle.InsertProfile</servlet-class>
    </servlet>
    <servlet>
        <description>Adiciona um Menu</description>
        <servlet-name>InserirMenu</servlet-name>
        <servlet-class>controle.InsertMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirMenu</servlet-name>
        <servlet-class>controle.RemoveMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarMenu</servlet-name>
        <servlet-class>controle.UpdateMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirUsuario</servlet-name>
        <servlet-class>controle.RemoveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirUsuario</servlet-name>
        <servlet-class>controle.InsertUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarUsuario</servlet-name>
        <servlet-class>controle.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarCalculo</servlet-name>
        <servlet-class>controle.LoadCalculus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCalculo</servlet-name>
        <servlet-class>controle.RemoveCalculus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EscalarMatriz</servlet-name>
        <servlet-class>controle.ScalarMatrix</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EfetuarLoginConvidado</servlet-name>
        <servlet-class>controle.DoGuestLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>controle.RegisterUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EfetuarLogin</servlet-name>
        <url-pattern>/efetuar_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalcularDeterminante</servlet-name>
        <url-pattern>/calcular_determinante.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransporMatriz</servlet-name>
        <url-pattern>/transpor_matriz.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InverterMatriz</servlet-name>
        <url-pattern>/inverter_matriz.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SomarMatrizes</servlet-name>
        <url-pattern>/somar_matrizes.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubtrairMatrizes</servlet-name>
        <url-pattern>/subtrair_matrizes.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiplicarMatrizes</servlet-name>
        <url-pattern>/multiplicar_matrizes.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalcularMinimos</servlet-name>
        <url-pattern>/calcular_minimos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfil</servlet-name>
        <url-pattern>/alterar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirPerfil</servlet-name>
        <url-pattern>/inserir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirMenu</servlet-name>
        <url-pattern>/inserir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <url-pattern>/gerenciar_menu_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarMenu</servlet-name>
        <url-pattern>/alterar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirUsuario</servlet-name>
        <url-pattern>/inserir_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarUsuario</servlet-name>
        <url-pattern>/alterar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirMenu</servlet-name>
        <url-pattern>/excluir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPerfil</servlet-name>
        <url-pattern>/excluir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirUsuario</servlet-name>
        <url-pattern>/excluir_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarCalculo</servlet-name>
        <url-pattern>/carregar_calculo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCalculo</servlet-name>
        <url-pattern>/excluir_calculo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EscalarMatriz</servlet-name>
        <url-pattern>/escalar_matriz.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EfetuarLoginConvidado</servlet-name>
        <url-pattern>/efetuar_login_convidado.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/cadastrar_usuario.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
